@font-face {
    font-family: SemiBold;
    src: url("../fonts/Inter_18pt-SemiBold.ttf");
}

@font-face {
    font-family: Medium;
    src: url("../fonts/Inter_18pt-Medium.ttf");
}

@font-face {
    font-family: Regular;
    src: url("../fonts/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: Bold;
    src: url("../fonts/Inter_18pt-Bold.ttf");
}